<!-- Template referensi bottom navbar (dirender otomatis oleh js/app.js -> App.renderNav()) -->
<nav class="bottom-nav" id="bottom-nav">
  <a href="feed.html"><i class="fa-solid fa-house"></i><span>Feed</span></a>
  <a href="explore.html"><i class="fa-solid fa-compass"></i><span>Jelajah</span></a>
  <a href="upload.html" class="nav-upload"><i class="fa-solid fa-plus"></i></a>
  <a href="notifications.html"><i class="fa-solid fa-bell"></i><span>Notif</span></a>
  <a href="profile.html"><i class="fa-solid fa-user"></i><span>Profil</span></a>
</nav>
